.navbar {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.55);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar-logo {
  font-size: 26px;
  font-weight: bold;
  color: white;
}

.navbar-links a {
  color: white;
  margin-left: 25px;
  text-decoration: none;
  font-size: 16px;
}

.navbar-links a:hover {
  text-decoration: underline;
}
